* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.canvas-wrapper {
  width: 100%;
  height: 500px;
  background-image: url('../img/IMG_2541.jpeg');
  background-repeat: no-repeat;
}

canvas {
  background: transparent;
}

input {
  width: 200px;
}
